<div class="mdl-grid ">
    <header><strong>Comprobante de Datos</strong></header>
</div>
<form [formGroup]="form">
    <div class="mdl-grid mdl-cell--12-col">
        <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-cell--6-col">
                <mat-form-field appearance="outline">
                    <mat-label>Usuario</mat-label>
                    <input type="text" formControlName="usuario" matInput placeholder="User" />
                </mat-form-field>
            </div>
            <div class="mdl-cell--6-col">
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="text" formControlName="password" matInput placeholder="Password" />
                </mat-form-field>
            </div>

            <div class="mdl-cell--6-col">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="text" formControlName="email" matInput placeholder="Email" />
                </mat-form-field>
            </div>
            <div class="mdl-cell--6-col">
                <mat-form-field appearance="outline">
                    <mat-label>Telefono</mat-label>
                    <input type="text" formControlName="telefono" matInput placeholder="Telefono" />
                </mat-form-field>
            </div>
            <div class="mdl-cell--6-col">
                <mat-form-field appearance="outline">
                    <mat-label>Fecha</mat-label>
                    <input type="text" formControlName="fecha" matInput placeholder="Fecha" />
                </mat-form-field>
            </div>
            <div class="mdl-cell--6-col">
                <mat-form-field appearance="outline">
                    <mat-label>Edad</mat-label>
                    <input type="text" formControlName="edad" matInput placeholder="Edad" />
                </mat-form-field>
            </div>
            <div class="mdl-cell--6-col">
                <mat-form-field appearance="outline">
                    <mat-label>Comentario</mat-label>
                    <input type="text" formControlName="comment" matInput placeholder="Comentario" />
                </mat-form-field>
            </div>
        </div>
    </div>
    <button mat-button [mat-dialog-close]="undefined">Cerrar</button>
</form>
