<body class="mat-app-background">
    <mat-toolbar style="background:#190933;width:100%;color:#fff;box-shadow: 0px 5px 5px 0px;">
        <button mat-icon-button (click)="name.toggle()">
            <mat-icon aria-hidden="false">menu</mat-icon>
        </button>
        <h1>Tour of Personas - Test Angular</h1>
        <span style="flex: 1 1 auto;"></span>
        <div *ngIf="!usuario">
            <button mat-raised-button (click)="openDialogRegistrar()">
                <mat-icon>badge</mat-icon> &nbsp;Registrarse
            </button>
        </div>
        <div *ngIf="usuario">
            <span>{{usuario}}</span>
            <button mat-icon-button matSuffix [matMenuTriggerFor]="menu">
                <mat-icon matSuffix>person</mat-icon>
            </button>
            <mat-menu #menu>
                <div>
                    <button mat-menu-item>
                        <mat-icon>person_pin_circle</mat-icon>
                        <span>Perfil</span>
                    </button>
                    <button mat-menu-item (click)="cerrarSesion()">
                        <mat-icon>signal_wifi_bad</mat-icon>
                        <span>Cerrar Sesión</span>
                    </button>
                </div>
            </mat-menu>
        </div>
    </mat-toolbar>
    <mat-sidenav-container class="sidenav">
        <mat-sidenav #name mode="push" hasBackdrop="true">
            <mat-nav-list>
                <mat-list-item>
                    <a routerLink="/dashboard" style="text-decoration:none">
                        <mat-icon style="margin: 0 2px">filter_list</mat-icon>Dashboard
                    </a>
                </mat-list-item>
                <mat-list-item>
                    <a routerLink="/personas" style="text-decoration:none">
                        <mat-icon style="margin: 0 2px">list</mat-icon>Personas
                    </a>
                </mat-list-item>
                <mat-list-item>
                    <a routerLink="/form" style="text-decoration:none">
                        <mat-icon style="margin: 0 2px">topic</mat-icon>Formulario
                    </a>
                </mat-list-item>
                <mat-list-item>
                    <a routerLink="/html5" style="text-decoration:none">
                        <mat-icon style="margin: 0 2px">looks_5</mat-icon>HTML5
                    </a>
                </mat-list-item>
                <mat-list-item>
                    <a routerLink="/test" style="text-decoration:none">
                        <mat-icon style="margin: 0 2px">directions_run</mat-icon>Testings
                    </a>
                </mat-list-item>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <footer align="center" style="background-color: #190933; color: white">
        <p style="padding: 21px 0"><strong> Copyright &copy; 2021 - Author: Edgar Ojeda (edgareor@hotmail.es)</strong>
        </p>
    </footer>
</body>